table.responsive { 
  width: 100%; 
  border-collapse: collapse; 
}
* { 
	margin: 0; 
	padding: 0; 
}
body {
	padding:20px 5px;
}
#users { 
	font-family: 'Arial';
	font-size:13px;
}

#users label {
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:2px;
}

input.search {
	width:70%;
	max-width:500px;
}

td {
	max-width:300px;
}


#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table.responsive { 
	width: 100%; 
	margin-top:20px;
	border-collapse: collapse;
	border:1px solid #ccc;
}

/* Zebra striping */
th { 
	background: #111; 
	color: white;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	border:1px solid #111;
}

span.caret {
	float:right;
	font-size:12px;
	opacity:0;
}

.asc span.caret, .desc span.caret, th:hover span.caret {
	opacity:1;
}

td { 
	padding: 6px; 
	border-bottom: 1px solid #dedede; 
	text-align: left; 
}
th {
	padding: 6px; 
	border: 1px solid #111; 
	text-align: left;
	cursor:pointer;
}

.desc span.caret {
	 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



ul.pagination {
	float:right;
	margin-left:0;
}
ul.pagination li {
	display:inline-block;
	width:20px;
	text-align:center;
	vertical-align: middle;
	padding:5px;
	height:20px;
	text-decoration: none;
	border:1px solid #bcbcbc;
	border-radius:3px;
	margin:5px 0px 0px 10px;
	cursor:pointer;
	background:#fff;
}
ul.pagination li:hover {
	background:#ccc;
}
ul.pagination li.active {
	border:1px solid #333;
	background:#333;
}
ul.pagination li.active a {
	color:#fff;
}
ul.pagination li a {
	text-decoration: none;
	vertical-align: middle;
	color:#333;
}



/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {


	/* Force table to not be like tables anymore */
	table.responsive, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.responsive thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.responsive tr { border: 2px solid #ccc; }

	.responsive td {
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee;*/
		position: relative;
		padding-left: 50%;
	}

	.responsive td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight:bold;
	}

	/*
	Label the data
	*/
	.responsive td:nth-of-type(1):before { content: "Restaurant"; }
	.responsive td:nth-of-type(2):before { content: "Address"; }
	.responsive td:nth-of-type(3):before { content: "County"; }
	.responsive td:nth-of-type(4):before { content: "Date"; }
	.responsive td:nth-of-type(5):before { content: "Grade"; }
	.responsive td:nth-of-type(6):before { content: "Score"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px; }
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}
}

	